<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>number</key>
		<integer>7</integer>
		<key>iconImg</key>
		<string>yiwaishouru</string>
		<key>recordType</key>
		<true/>
		<key>typeName</key>
		<string>意外所得</string>
		<key>type</key>
		<string>yiwaishouru</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>6</integer>
		<key>iconImg</key>
		<string>shouzhai</string>
		<key>recordType</key>
		<true/>
		<key>typeName</key>
		<string>收债</string>
		<key>type</key>
		<string>shouzhai</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>5</integer>
		<key>iconImg</key>
		<string>renqing</string>
		<key>recordType</key>
		<true/>
		<key>typeName</key>
		<string>人情往来</string>
		<key>type</key>
		<string>renqing</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>4</integer>
		<key>iconImg</key>
		<string>touzi</string>
		<key>recordType</key>
		<true/>
		<key>typeName</key>
		<string>投资理财</string>
		<key>type</key>
		<string>touzi</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>3</integer>
		<key>iconImg</key>
		<string>jiangjin</string>
		<key>recordType</key>
		<true/>
		<key>typeName</key>
		<string>奖金</string>
		<key>type</key>
		<string>jiangjin</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>2</integer>
		<key>iconImg</key>
		<string>jixiao</string>
		<key>recordType</key>
		<true/>
		<key>typeName</key>
		<string>绩效</string>
		<key>type</key>
		<string>jixiao</string>
	</dict>
	<dict>
		<key>iconImg</key>
		<string>gongzi</string>
		<key>number</key>
		<integer>1</integer>
		<key>recordType</key>
		<true/>
		<key>typeName</key>
		<string>工资</string>
		<key>type</key>
		<string>gongzi</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>15</integer>
		<key>iconImg</key>
		<string>qita</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>其他支出</string>
		<key>type</key>
		<string>qita</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>14</integer>
		<key>iconImg</key>
		<string>gouwu</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>购物</string>
		<key>type</key>
		<string>gouwu</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>13</integer>
		<key>iconImg</key>
		<string>fushi</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>服饰</string>
		<key>type</key>
		<string>fushi</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>12</integer>
		<key>iconImg</key>
		<string>riyongpin</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>日用品 </string>
		<key>type</key>
		<string>riyongpin</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>11</integer>
		<key>iconImg</key>
		<string>yule</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>娱乐</string>
		<key>type</key>
		<string>yule</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>10</integer>
		<key>iconImg</key>
		<string>shicai</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>买菜</string>
		<key>type</key>
		<string>shicai</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>9</integer>
		<key>iconImg</key>
		<string>lingshi</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>零食</string>
		<key>type</key>
		<string>lingshi</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>8</integer>
		<key>iconImg</key>
		<string>yanjiu</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>烟酒茶</string>
		<key>type</key>
		<string>yanjiu</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>7</integer>
		<key>iconImg</key>
		<string>xuexi</string>
		<key>typeName</key>
		<string>学习</string>
		<key>recordType</key>
		<false/>
		<key>type</key>
		<string>xuexi</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>6</integer>
		<key>iconImg</key>
		<string>fangzhi</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>房租</string>
		<key>type</key>
		<string>fangzhi</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>5</integer>
		<key>iconImg</key>
		<string>shuidian</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>水电煤</string>
		<key>type</key>
		<string>shuidian</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>4</integer>
		<key>iconImg</key>
		<string>huafei</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>话费 </string>
		<key>type</key>
		<string>huafei</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>3</integer>
		<key>iconImg</key>
		<string>hongbao</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>红包</string>
		<key>type</key>
		<string>hongbao</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>2</integer>
		<key>iconImg</key>
		<string>jiaotong</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>交通</string>
		<key>type</key>
		<string>jiaotong</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>1</integer>
		<key>iconImg</key>
		<string>canyin</string>
		<key>recordType</key>
		<false/>
		<key>typeName</key>
		<string>餐饮</string>
		<key>type</key>
		<string>canyin</string>
	</dict>
</array>
</plist>
